<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
    <title> Groups</title>
</head>
<body>

    <%- include('navbar') %>

    <% results.forEach(function(group){ %>
    <div class="card" style="width: 30rem;margin-top: 40px;">
        <div class="card-body">
         <a href="group/<%= group.id %>"> <h5 class="card-title"><%= group.name %></h5></a>
          <a href="profile/<%= group.admin %>"><p class="card-text"> <%= group.username %> </p></a> 
       
       <a href=""><button type="button" class="btn btn-outline-primary">Subscribe</button></a> 
       <span class="badge badge-light"> <%= group.nbrSubs %> </span>
        </div>
      </div>
 
    
    
    <% }) %>
    
</body>
</html>

