<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Home</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <%- include('navbar') %>

    <div class="container">
        <div class="row">
          <div class="col-sm">
              
            <%- include('post') %>
           
          </div>
          <div class="col-sm">
            <% if(msg) { %>

              <div class="alert alert-warning" style="text-align: center;margin-top: 30px;" role="alert">
                  <%=  msg %>
                </div>
      
          <% }  else { %>

<%  results.forEach(function(post){ %>
      
    <div class="card" style="width: 30rem;margin-top: 40px;">
        <div class="card-body">
         <a href="/profile/<%= post.user %>"><h5 class="card-title"> <%= post.username %> </h5></a> 
          <hr>
          <h6> <%= post.datePost %> </h6>
          <hr>
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"> <%= post.content %> </p>
          
          <form action="/up" method="POST" >
     
            <input type="hidden" name="postID" value="<%= post.idPost %>" id="postID">
            <button type="submit" id="<%= post.idPost %>" class="btn btnsubmit btn-outline-primary">UP</button>
            <span class="badge badge-light" id="up<%= post.idPost %>"> <%= post.up %> </span>
     
      </form>
        </div>
      </div>
   <% }) %>
   <% } %>
          </div>
          <div class="col-sm" style="text-align: center;margin-top: 30px;">
            
            <ul class="list-group" style="margin-top: 10px;">
              <li class="list-group-item disabled">Peoples you may know</li>
              
              <% users.forEach(function(entry){ %>

                 <a href="/profile/<%= entry.id %>"><li class="list-group-item"> <%= entry.username %> </li></a> 

              <% }) %>

            </ul>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example" style="margin-left: 38%;margin-top: 30px;">
        <ul class="pagination">
          <% for(let i=1 ; i <= (nbr / 5)+1 ; i++ ){ %>

          <li class="page-item"><a class="page-link" href="/home/page/<%= i %>"><%= i %></a></li>
        
          <% } %>  
          
        </ul>
      </nav>

      <script>

        $(document).ready(function(){
      
        $(".btnsubmit").on("click",function(e){
          
          e.preventDefault();
          const postID = $('#postID').attr('value');
          const idSelector = "#up"+postID;
          let idVal = Number($(idSelector).text());
          console.log(postID);
          $(idSelector).text(idVal+1);
    
          $.ajax({
    
          type:'post',
          url:'/up'
         
          });
    
          
        });
        
        
        });
  
      </script>

</body>
</html>